@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Custom scrollbar for dark mode vibe */
  ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
  }
  ::-webkit-scrollbar-track {
      background: #112117; 
  }
  ::-webkit-scrollbar-thumb {
      background: #2a3f33; 
      border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #36e27b; 
  }
}
